body{
    color: white;
    font-family: sans-serif;
}
main{
    display: flex;
}
.box{
    width: 350px;
    height: 500px;
    background: #161616;
    display: flex;
    margin-left: 40px;
    border-radius: 12px;
    flex-direction: column;
}
form{
    width: 300px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    background: #252525;
    border-radius: 6px;
}
.name{
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: #505050;
    border: none;
    align-self: center;
    text-align: center;
}
button{
    border: none;
    background: #424242;
    align-self: flex-end;
}
input{
    background: #424242;
    color: whitesmoke;
    border: none;
    width: 200px;
    border-radius: 20px;
    margin-top: 15px;
    height: 40px;
    
}
.deadline{
    width: 172px;
}
.details{
    width: 220px;
    border-radius: 6px;
    height: 70px;
    align-self: end;
    margin-right: 10px;
    background: #424242;
}
.not-com-task{
    background: chocolate;
}
.task_name{
    font-size: 30px;
    text-align: center;
}
.task_time{
    text-align: end;
    margin: 0;
    color:#505050;
}
.tasks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 250px;
    margin-left: 20px;
    box-sizing: border-box;
}
h1{
    margin-left: 20px;
}
h2{
    font-size: 20px;
}

.name::placeholder{
    font-size: 18px;
}

.tasks:active{
    background: #424242;
}
.type{
        width: 70px;
    text-align: center;
    height: 35px;
    margin: 0 10px;
}
.list_time{
    text-align: end;
    
    color: gray;
}
.list_type, .task_dets{
    color: gray;
}
.task{
    width: 250px;
    margin-left: 50px;
    position: relative;
    top: -12%;
}
#not_comp,#comp{
    height: 160px;
    width: 300px;
    margin-left: 30px;
    overflow: auto;
    overflow-x: auto;
}
p{
    margin-left: 10px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.Done{
    height: 50px;
    width: 100px;
    color: #0074e0;
    background: transparent;
    align-self: center;
}
.button-set{
    background: #252525;
    height: 50px;
    align-self: flex-end;
    position: relative;
    top: 74%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display:flex;
    justify-content: center;
}
.bttn_delete, .bttn_edit{
    width: 45%;
    height: 100%;
    background: transparent;
    color: cyan;
}
#create1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    margin-right: 20px;
}

.submit{
    margin-bottom: 20px;
    width: 75px;
    margin-right: 20px;
    height: 40px;
    border-radius: 20px;
}

